*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ul, li, ol{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input, button{
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid black;
    background: transparent;
}
button{
    cursor: pointer;
}