*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

ul, li, ol{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.all-blox{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 12px;
    background: aqua;
}
